.inner {
    padding: 0 88px
}

.hidden {
    overflow: hidden;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

span.tag {
    border-radius: 100px;
    padding: 10px;
    font-size: 12px;
    color: rgb(118, 117, 114);
    background: #e5e5e5;
    display: block;
}

/* .custom-cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    /* background-color: transparent; */
/* background: #000; */
/* 초기에는 투명한 배경색을 가짐 */
/* opacity: 0; */
/* visibility: hidden; */
/* } */

.custom-cursor {
    position: relative;
    z-index: 1;
    pointer-events: none;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    cursor: none;
}

.custom-cursor.on {
    opacity: 1;

}

.custom-cursor .text {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    background: #000;
    position: fixed;
    top: 10px;
    left: 10px;
    font-weight: 400;
    font-size: 14px;
    transition: font 0.3s;
    opacity: 0.5;
    transform: scale(1);
}

.custom-cursor .text:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    transition: transform 0.5s;
}

#main {
    transition: background 0.6s;
}

[data-theme="beige"] {
    /* padding-bottom: 600px; */
}

#main.beige {
    background: #f5f5f7;
    /* transition: background 0.6s */
}

#main.black {
    background: #222;
    /* transition: background 0.6s */
}

[data-parallax="true"] {
    overflow: hidden;
}

[data-parallax="true"] img {
    height: 105%;
}

.hover-border:hover:after {
    color: #222;
    width: 100%;
}

.hover-border {
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.hover-border:after {
    transition-property: width;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    height: 1px;
    width: 0;
    background-color: currentColor;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.line-hover {
    position: relative;
    display: inline-block;
}

.line-hover:hover:after {
    left: 0;
    width: 100%;
}

.line-hover:after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    height: 1px;
    width: 0;
    content: '';
    background-color: #000;
    transition-duration: .3s;
    transition-property: width;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.line-hover.top0:after {
    top: 0;
    bottom: auto
}

.btn-scale {
    position: relative;
    font-size: 18px;
    gap: 16px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;

}



.btn-scale:hover:after {
    background-color: #222;
}

.btn-scale .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    transition: all 0.3s;
    overflow: hidden;
}

.btn-scale:hover .icon svg {
    animation: slideInOut 2s ease infinite;
}

.btn-scale svg {
    stroke: #000;
    width: 100%;
}

.btn-scale .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    transition: all 0.3s;
}


.btn-scale svg {
    stroke: #000;
    width: 12px;
}


/* btn-get */
.btn-get.blend {
    mix-blend-mode: difference;
    border: 1px solid #fff
}

.btn-get.blend:hover svg {
    animation: slideInOut 2s ease infinite;
}

.btn-get {
    position: relative;
    height: 2.75rem;
    overflow: hidden;
    border-radius: 6.25rem;
    border-width: 1px;
    text-align: left;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
    display: inline-flex;
    border-color: #e8e8e9;
    background-color: #e8e8e9;
    color: #222222;
    align-items: center;
    padding: 0 48px 0 16px;
    font-size: 12px;
}

.btn-get:hover svg {
    animation: rotate 2s ease infinite
}

.btn-get span.txt {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    white-space: nowrap;
}

.btn-get span.oh {
    display: flex;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    gap: .6rem;
    white-space: nowrap;
    background-color: #000;
    transition-property: all;
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    clip-path: circle(1rem at calc(100% - 1.4rem) 50%);
    color: #fff;
    align-items: center;
    padding: 0 48px 0 16px;
}

.btn-get:hover span.oh {
    clip-path: circle(150% at calc(100% - 1.4rem) 50%);
}

.btn-get span.oh svg {
    fill: #fff;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-get .inner-icon {
    display: inline-flex;
    height: 1.95rem;
    width: 1.95rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 9999px;
}

.btn-get .inner-icon svg {
    stroke: #fff;
}