@import url(./reset.css);
@import url(./common.css);

#header {
    position: relative;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0px;
    right: 0;
    height: 80px;
    z-index: 10;
    transition: transform 0.4s, background .3s;
}

#header.wheel {
    transform: translateY(-100%);
}

#header.white {
    background: #fff;
    transition: transform 0.4s, background .3s .4s;
}

#header.white .btn-wrap .btn-more .line {
    background: #000;
}

#header .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: background 0.15s;
    height: 100%;
    padding: 0 88px;
}


#header>* {
    color: #fff;
}

#header.show .menu-wrapper .menu-list {
    z-index: 10;
}

/* #header.show .menu-wrapper .menu-list #nav {
    display: none;
} */

#header .menu-wrapper .menu-list {
    align-items: center;
    display: flex;
    gap: 157px;
}

#header .logo {
    width: 117px;
    z-index: 2;
    mix-blend-mode: difference;
}

#header .logo svg {
    fill: #fff;
}

#header.show .logo svg {
    fill: #000;
}

#header #nav.none {
    display: none;
}

#header #nav .menu-wrap {
    display: flex;
    gap: 60px;
}

#header #nav .menu-wrap .category {
    display: flex;
    background: #fff;
    padding: 0 88px;
    height: 100%;
}

#header .menu-item.line-hover:after {
    background-color: #fff
}

#header #nav .menu-wrap .category-wrap {
    /* opacity: 0;
    visibility: hidden; */
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 80px;
    /* height: 195px; */
    border-top: 1px solid #d7d7d7;
    /* border-bottom: 1px solid #d7d7d7 */
}


#header #nav .menu-wrap .category li {
    border-right: 1px solid #d7d7d7;
    width: 275px;
}

#header #nav .menu-wrap .category li:first-child {
    border-left: 1px solid #d7d7d7;
}

#header #nav .menu-wrap .category li.link-wrap a:hover {
    background: #f9f3eb
}

#header #nav .menu-wrap .category li.link,
#header #nav .menu-wrap .category li.link-wrap a {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;*/
    height: 100%;
    padding: 30px;
    display: block;
}

#header #nav .menu-wrap .category li {
    position: relative;
    font-weight: normal;
    color: #222;
    font-size: 24px;
    display: block;
    cursor: pointer;
    height: 100%;
}

#header #nav .menu-wrap .category li a span.label {
    border: 1px solid rgb(218, 218, 218);
    background: rgb(246, 246, 246);
    font-size: 16px;
    padding: 0 14px;
    border-radius: 15px;
    color: rgb(118, 117, 114)
}

#header #nav .menu-wrap .category li.link-wrap a span.icon,
#header #nav .menu-wrap .category li.link span.icon {
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 25px;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 50%;
    transition: all 0.3s;
    align-self: flex-end;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    /* transition: transform 0.3s 0.5s */
}

#header #nav .menu-wrap .category-wrap.on a:hover span.icon {
    opacity: 1;
    visibility: visible;
    transform: translateX(00%);
    /* transition: transform 0.3s 0.5s */
}

#header #nav .menu-wrap .category li a span.icon svg {
    stroke: #fff;
    width: 12px;
    transform: rotate(90deg);
}

#header #nav .menu-wrap .category .link {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    gap: 10px;
    align-items: flex-start;
}

#header #nav .menu-wrap .category .link a {
    padding-bottom: 15px;
}

#header #nav .menu-wrap .category .link p {
    display: inline;
}

#header .btn-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 3;
}

#header .btn-wrap .btn-search {
    width: 44px;
    overflow: hidden;
    height: 44px;
    background: #ffffff42;
    border-radius: 9999px;
    /* padding: 0 14px; */
    transition: width 0.5s
}

#header .btn-wrap .btn-search.on {
    width: 316px;
}

#header .btn-wrap .btn-search form {
    width: 316px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    /* padding: 0 0px; */
    padding-left: 15px;
}

#header .btn-wrap .btn-search form svg {
    width: 16px;
    height: 16px;
    stroke: #fff
}

#header .btn-wrap .btn-search form input {
    border: none;
    outline: none;
    background: none;
}

#header .btn-wrap .btn-search form button {
    background: #393939;
    padding: 5px 20px;
    border-radius: 9999px;
}

#header .menu-wrapper:hover .btn-wrap .btn-search form {
    background: rgb(232, 232, 233);
}

#header .menu-wrapper:hover .btn-wrap .btn-search form svg {
    stroke: #000;

}







#header .btn-wrap .btn-more {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 16px;
    z-index: 2;
}

#header .btn-wrap .btn-more .line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.3s
}

#header .btn-wrap .btn-more .line:nth-child(2) {
    top: 0;
}


#header .menu-wrapper .btn-wrap .btn-more:hover .line:nth-child(2) {
    transform-origin: right;
    top: 50%;
    transform: rotate(45deg) scaleX(0.5) scaleY(1)
}


#header.show .menu-wrapper .btn-wrap .btn-more:hover .line:nth-child(2),
#header.show .btn-wrap .btn-more .line:nth-child(2) {
    transform: translateY(-50%) rotate(45deg) scale(1);
    top: 50%;
    transform-origin: inherit;
}

#header.show .btn-wrap .btn-more .line:nth-child(3) {
    height: 0;
}

#header.show .menu-wrapper .btn-wrap .btn-more:hover .line:nth-child(4),
#header.show .btn-wrap .btn-more .line:nth-child(4) {
    transform-origin: inherit;
    transform: translateY(-50%) rotate(-45deg) scaleX(1) scaleY(1);
    top: 50%;
}

#header.show .menu-wrapper .btn-wrap .btn-more:hover .line,
#header.show .btn-wrap .btn-more .line {
    background: #fff;
}

#header .menu-wrapper .btn-wrap .btn-more:hover .line:nth-child(4) {
    transform-origin: right;
    bottom: 50%;
    transform: rotate(-45deg) scaleX(0.5) scaleY(1)
}

#header .btn-wrap .btn-more .line:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
}

#header .btn-wrap .btn-more .line:nth-child(4) {
    bottom: 0;
}



#header #nav .menu-item {
    color: #fff;
    font-size: 17px;
    mix-blend-mode: difference;
    padding-bottom: 10px;
}

#header.down .menu-wrapper,
#header .menu-wrapper:hover {
    background: #fff;
}

#header.down .menu-wrapper>*,
#header .menu-wrapper:hover>* {
    /* color: #000; */
}

#header.down .menu-wrapper .logo svg,
#header .menu-wrapper:hover .logo svg {}

#header .menu-wrapper:hover .btn-wrap .btn-more .line {
    background: #000;
}

#header .slide-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 1;
    transition: all 0.3s;
    background: #19312f;
}

#header.show {
    background-color: transparent;
}

#header.show .slide-menu {
    transform: translateX(0%);
}

#header.show .slide-menu .menu-left {
    transform: translateX(0);
}

#header .slide-menu .menu-left {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    background: #f9f3eb;
    padding: 0 32px 0 140px;
    transform: translateX(-30%);
    transition: .3s .1s;
}

#header .slide-menu .menu-left .cate-wrap {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 64px 0;
}

#header .slide-menu .menu-left .cate-wrap a {
    font-size: 41px;
    color: #222;
}

#header .slide-menu .menu-left .info-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
}

#header .slide-menu .menu-left .info-wrap a {
    color: #222;
    font-size: 29px;
}

#header .slide-menu .menu-right {
    display: flex;
    flex: 1 1 0%;
    max-width: 600px;
    flex-direction: column;
    background: #19312f;
}

#header .slide-menu .menu-right .learn-wrap {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 64px 0 64px 140px
}

#header .slide-menu .menu-right .learn-wrap .item p {
    font-size: 35px;
    margin-bottom: 30px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(1turn)
    }

    50.001% {
        transform: rotate(1turn)
    }

    to {
        transform: rotate(1turn)
    }
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
}

#footer .inner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

#footer .title-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    height: 50vh;
    padding: 50px 0;
    justify-content: center;
}

#footer .title-wrap .title {
    font-size: 90px;
}

#footer .title-wrap .btn-border {}

#footer .footer-nav {
    display: flex;
    align-items: flex-start;
    margin-bottom: 136px;
}

#footer .footer-nav .nav-wrap {
    display: flex;
    flex: 1;
}

#footer .footer-nav .nav-wrap nav {
    column-count: 2;
    column-gap: 120px;
}

#footer .footer-nav nav a {
    position: relative;
    display: flex;
    color: #767572;
    font-size: 23px;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    transition: 0.3s;
    margin-bottom: 12px;
    padding-right: 100px;
}

#footer .footer-nav nav a {
    padding-left: 0;
}

#footer .footer-nav nav a svg,
#footer .footer-nav nav a span {
    transition: transform 0.5s
}

#footer .footer-nav nav a:hover span {
    transform: translateX(25px);
}

#footer .footer-nav nav a svg {
    stroke: #000;
    width: 19px;
    position: absolute;
    height: 19px;
    transform: translate(-100%, -50%);
    top: 50%;
    left: 0;
    stroke-width: 2;
}

/* #footer .footer-nav nav a:hover {
    padding-left: 30px;
} */

#footer .footer-nav nav a:hover svg {
    transform: translate(-0%, -50%);
}

#footer .footer-nav .contact-wrap {
    flex: 1;
    text-align: center;
}

#footer .footer-nav .contact {
    font-size: 34px;
}

#footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px;
    border-top: 1px solid #dadada;
}

#footer .footer-bottom .country {
    position: relative;
}

#footer .footer-bottom .country .options {
    display: none;
    position: absolute;
    bottom: 45px;
    width: 300px;
    padding: 30px;
    background: #fff;
    border: 1px solid #dadada;
}

#footer .footer-bottom .country .options a {
    display: flex;
    align-items: center;
    padding: 12px 0;
    gap: 6px;
    border-bottom: 1px solid #d8d8d8;
    font-size: 17px;
}

#footer .footer-bottom .country .options a:first-child {
    border-bottom: 1px solid #393939
}

#footer .footer-bottom .country .options a:last-child {
    border: none;
}

#footer .footer-bottom .country .options img {
    width: 13px;
    height: 13px;
}

#footer .footer-bottom .country .options .list {
    display: flex;
    flex-direction: column;
}

#footer .footer-bottom .btn-country {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 8px;
}

#footer .footer-bottom .btn-country .icon0 {
    width: 16px;
    height: 16px;
    stroke: #767572;
}

#footer .footer-bottom .btn-country .icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 50%;
}

#footer .footer-bottom .btn-country .icon-bg svg {
    stroke: #fff;
    width: 8px;
    height: 8px;
    stroke-width: 2px;
}

#footer .footer-bottom .f-right {
    display: flex;
    gap: 100px;
    align-items: center;
}

#footer .footer-bottom .sns-list {
    display: flex;
    gap: 40px;
}

#footer .footer-bottom .sns-list li a {
    font-size: 16px;
    color: #767572
}

#footer .footer-bottom .btn-scale {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 8px;
    overflow: hidden;
}

#footer .footer-bottom .btn-scale .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #000;
    border-radius: 9999px;
    transition: all 0.3s;
}

#footer .footer-bottom .btn-scale svg {
    stroke: #fff;
    width: 14px;

}

#footer .footer-bottom .btn-scale:hover .icon svg {
    animation: slideUpDown 2s ease infinite;
}

.btn-scale {}

/* .btn-scale .icon:first-child {
    transform: scale(0);
    margin-left: -1rem;
} */

/* .btn-scale:hover .icon:first-child {
    transform: scale(1);
    margin-left: 0rem;

}

.btn-scale:hover .icon:nth-child(2) {
    margin-right: -20px;
    transform: scale(0);
} */