.wrapper {
    padding-bottom: 100vh;
}

#main {
    position: relative;
    z-index: 2;
    background: #fff;
}

[data-effect="thumb"] {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: 1s;
}

[data-effect="thumb"].on {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
}


.sc-visual {
    position: relative;
    height: 100vh;
}

.sc-visual .video-group {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sc-visual .video-group video {
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}

.sc-visual .title-group {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 0 88px 115px 88px;
    align-items: flex-start;
    gap: 19px;
    width: 100%;
}

.sc-visual .title-group .title {
    color: #f9f3eb;
    font-size: clamp(102px, 11vw, 400px);
    white-space: nowrap;
    line-height: 1.25;
}

.sc-visual .title-group .btn-scroll {
    color: #fff;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: flex-end;
}

.sc-visual .title-group .btn-scroll .icon {
    height: 25px;
    width: 25px;
    border-radius: 9999px;
    border: 1px solid #fff;
    overflow: hidden;
}

.sc-visual .title-group .btn-scroll svg {
    stroke: #fff;
    width: 100%;
    height: 100%;

}

.sc-visual .title-group .btn-scroll:hover svg {
    animation: slideDownUp 2s ease infinite;
}



.sc-visual .btn-scale .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
}

.sc-visual .btn-scale .icon:first-child {
    transform: scale(0);
    margin-left: -40px;
}

.sc-visual .btn-scale:hover .icon:first-child {
    transform: scale(1);
    margin-left: 0rem;

}

.sc-visual .btn-scale svg {
    stroke: #000;
    width: 12px;
}

.sc-module {
    padding: 210px 0 120px 0;
    margin-bottom: 170px;
}

.sc-module .wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.sc-module .module-title {
    font-size: 90px;
    color: #dadada;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sc-module .module-title .line {
    display: flex;
    gap: 20px;
}

.sc-module .module-title .line .word {
    display: flex;
}

.sc-module .module-title .line .word span {
    display: inline-block;
    transition: color 0.5s ease;
}

.sc-module .img-box {
    width: 525px;
    height: 322px;

    /* border: 1px solid #000; */
}



.sc-module .img-box img {
    /* transition: all 1s; */
    height: 120%;
}

.sc-charging {}

.sc-charging .charging-area {
    position: relative;
    margin-left: 8vw;
}

.sc-charging .charging-area .btn-get.blend {
    margin-top: 50px;
}

.sc-charging .charging-group {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50%);
    transition: transform 1s, opacity 0.4s;
    background: #fff;
}

.sc-charging .charging-group.show {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    opacity: 1;
    justify-content: center;
    visibility: visible;
    transform: translateY(0);
}



.sc-charging .charging-group .title {
    width: 600px;
    font-size: 50px;
    margin-bottom: 25px;
}

.sc-charging .wrap {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.sc-charging .wrap .head {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding-left: 30px;

}

.sc-charging .wrap .head .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: #ccc;
}

.sc-charging .wrap .head .curr {
    position: absolute;
    top: 0;
    background: #000;
    width: 100%;
    height: 10px;
}


.sc-charging .wrap .list {
    flex-direction: column;
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
}

.sc-charging .wrap .list li {
    color: #767572
}

.sc-charging .wrap .list li.on {
    color: #000
}

.sc-charging .wrap .img-area {
    grid-row-start: 1;
    grid-row: span 3 / span 3;
    grid-column-end: 11;
    grid-column-start: 6;
    height: 200vh;
}

.sc-charging .wrap .img-area img {
    width: 807px;
    height: 746px;
    object-fit: cover;
}

.sc-charging .wrap .sticky {
    position: sticky;
    top: 107px;
    margin: 0;
    height: 100vh;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row: span 3 / span 3;
    width: 600px;
    display: flex;
}

.sc-charging .charging-group .small-txt {
    margin-bottom: 20px;
    font-size: 12px;
    color: #767572
}

.sc-charging .charging-group .tag-list {
    display: flex;
    gap: 12px;
}

.btn-border {
    display: inline-flex;
    align-items: center;
    height: 44px;
    border-color: #222222;
    background-color: #222222;
    text-align: left;
    font-size: 14px;
    color: #ffffff;
    border-radius: 100px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
}

.btn-border .inner-icon {
    width: 32px;
    height: 32px;
    display: inline-flex;
    height: 1.95rem;
    width: 1.95rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 9999px;

}

.btn-border svg {
    stroke: #222;
    stroke-width: 1.5;
}

.sc-chargers {
    position: relative;
    overflow: hidden;
    margin: 300px 0 185px 0;
}

.sc-chargers .title {
    display: flex;
    flex-direction: column;
    color: #19312f;
    font-size: 150px;
    text-align: center;
    line-height: 1.1;

}

.sc-chargers .title .over {
    overflow: hidden;
}

.sc-chargers .title .line {
    display: inline-block;
    transform: translateY(0%);
}

.sc-chargers .list {
    display: flex;
}

.sc-chargers .list li {}

.sc-chargers .list li h3 {
    font-size: 29px;
    margin-bottom: 12px;
}

.sc-chargers .list li .desc {
    font-size: 16px;
    color: #767572
}

.sc-chargers .btn-wrap {
    text-align: center;
    margin-top: 100px;
}

.sc-chargers .btn-wrap .btn-scale .icon {
    background: #000;
}

.sc-chargers .btn-wrap .btn-scale .icon svg {
    stroke: #fff;
}

/* Charder Swiper */
.sc-chargers .chargers-area {
    width: 100%;
    height: 710px;
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.chargers-area .swiper-slide {
    opacity: 0;
    transition: opacity 0.3s ease;
    /* 전환 애니메이션 */
}

.chargers-area .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 활성화된 슬라이드만 opacity를 1로 설정 */
.chargers-area .swiper-slide-active {
    opacity: 1;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc-chargers .chargers-area .swiper-pagination {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.sc-chargers .chargers-area .swiper-pagination-bullet {
    width: 100%;
    min-height: 30px;
    background: transparent;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sc-chargers .chargers-area .swiper-pagination-bullet .bullet-bg {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 13px;
    height: 13px;
    content: '';
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.sc-chargers .chargers-area .swiper-pagination-bullet:hover .bullet-txt {
    opacity: 1;
}

.sc-chargers .chargers-area .swiper-pagination-bullet .bullet-txt {
    opacity: 0;
    font-size: 14px;
    transition: opacity 0.4s;
}

.sc-chargers .chargers-area .swiper-pagination-bullet.on .bullet-txt {
    opacity: 1;
}

.sc-chargers .chargers-area .swiper-pagination-bullet .bullet-bg:hover::before {
    transition: all 0.4s;
}

.sc-chargers .chargers-area .swiper-pagination-bullet:hover .bullet-bg::before,
.sc-chargers .chargers-area .swiper-pagination-bullet.on .bullet-bg::before {
    width: 15px;
    height: 15px;
    content: '';
    border-radius: 50%;
    display: inline-block;
    padding: 9px;
}

.sc-chargers .chargers-area .swiper-pagination-bullet:hover .bullet-bg.blue::before,
.sc-chargers .chargers-area .swiper-pagination-bullet.on .bullet-bg.blue::before {
    border: 1px solid #759aa8
}

.sc-chargers .chargers-area .swiper-pagination-bullet:hover .bullet-bg.midnight::before,
.sc-chargers .chargers-area .swiper-pagination-bullet.on .bullet-bg.midnight::before {
    border: 1px solid #3f4348;
}

.sc-chargers .chargers-area .swiper-pagination-bullet:hover .bullet-bg.orange::before,
.sc-chargers .chargers-area .swiper-pagination-bullet.on .bullet-bg.orange::before {
    border: 1px solid #f0ab8a;
}

.sc-chargers .chargers-area .swiper-pagination-bullet:hover .bullet-bg.purple::before,
.sc-chargers .chargers-area .swiper-pagination-bullet.on .bullet-bg.purple::before {
    border: 1px solid #b49dca;
}

.sc-chargers .chargers-area .swiper-pagination-bullet:hover .bullet-bg.starlight::before,
.sc-chargers .chargers-area .swiper-pagination-bullet.on .bullet-bg.starlight::before {
    border: 1px solid #eae1d6;
}

.sc-chargers .chargers-area .swiper-pagination-bullet .bullet-bg.blue {
    background: #759aa8
}

.sc-chargers .chargers-area .swiper-pagination-bullet .bullet-bg.midnight {
    background: #3f4348;
}

.sc-chargers .chargers-area .swiper-pagination-bullet .bullet-bg.orange {
    background: #f0ab8a
}

.sc-chargers .chargers-area .swiper-pagination-bullet .bullet-bg.purple {
    background: #b49dca
}

.sc-chargers .chargers-area .swiper-pagination-bullet .bullet-bg.starlight {
    background: #eae1d6
}

.sc-chargers .chargers-area .swiper-pagination-bullet-active {
    /* opacity: 1; */
}

.sc-chargers .chargers-area .swiper-pagination-bullet-active:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: all .5 ease-in-out;
}

.sc-chargers .chargers-area .bullet-list {
    position: absolute;
    left: 5px;
    right: auto;
    z-index: 1;

}

.sc-chargers .chargers-area .bullet-list p {
    outline: none;
    border: none;
}

.sc-hub {
    margin-top: 170px;
    margin-bottom: 170px;
    display: flex;
    flex-direction: column;
}

.sc-hub .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.sc-hub .header .title {
    font-size: 50px;
}

.sc-hub .header .btn-all {}

.sc-hub .btn-all {}

.sc-hub .card-list {
    display: flex;
    gap: 20px;
}

.sc-hub .img.card-list {
    margin-bottom: 170px;
}

.sc-hub .card-list .card {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    align-self: flex-start;
    padding-bottom: 20px;
}

.sc-hub .img.card-list .card:first-child {
    flex: 1 1 0%;
}

.sc-hub .card-list .card:hover img {
    transform: scaleX(1.1) scaleY(1.1);

}


.sc-hub .card-list .card .img-box {
    overflow: hidden;
    margin-bottom: 25px;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%) */
}

.sc-hub .card-list .card img {
    transition-duration: 1s;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.sc-hub .img.card-list .card:nth-child(2) {
    width: 36vw;
}

.sc-hub .img.card-list .card:nth-child(2) .img-box {
    width: 648px;
    height: 655px;
}

.sc-hub .img.card-list .card:nth-child(3) {
    width: 21vw;
}



.sc-hub .img.card-list .card:nth-child(3) .img-box {
    width: 378px;
    height: 488px
}

.sc-hub .card-list .card .label {
    display: flex;
    margin-bottom: 12px;
    gap: 12px;
    align-items: center;
}

.sc-hub .card-list .card .label .date {
    font-size: 12px;
    color: #767572
}

.sc-hub .card-list .card .desc {
    font-size: 24px;
}

.sc-hub .txt.card-list {}

.sc-hub .txt.card-list a {
    flex: 1;
    border-top: 1px solid #dadada
}

.sc-hub .txt.card-list .label {
    padding-top: 16px;
}

.sc-hub .btn-scale .icon {
    background: transparent;
}

.sc-hub .footer {
    align-self: flex-end;
}

.sc-journey {
    position: relative;
    height: 500vh;
    --opacity: 0;
    color: #fff
}

.sc-journey .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 1;
}

.sc-journey .sticky .title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sc-journey .sticky .title-wrap .title {
    font-size: 90px;
    text-align: center;
    text-wrap: nowrap;
}

.sc-journey .img-wrapper {
    position: sticky;
    top: -50vh;
    /* height: 100vh; */
    /* border: 10px solid #0f0; */
    padding: 50vh 0 0;
    /* position: relative;
    z-index: -1;
    height: 100%;
    top: 100vh;
    width: 100%; */
}

.sc-journey .img-wrapper .content {
    position: relative;
    height: 100vh;
    /* border: 10px solid #f00; */
}


.sc-journey .img-wrapper img {
    position: absolute;
    object-fit: cover;
}

.sc-journey .img-wrapper img.img01 {
    /* transition: width 1s; */
    left: 50%;
    /* top: -150px; */
    width: 340px;
    height: 315px;
    z-index: 1;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sc-journey .img-wrapper img.img02 {
    width: 468px;
    height: 290px;
    top: 180px;
    left: 0;
}

.sc-journey .img-wrapper img.img03 {
    width: 260px;
    height: 240px;
    top: 293.617px;
    right: 0
}

.sc-journey .img-wrapper img.img04 {
    width: 336px;
    height: 274px;
    right: 237.938px;
    bottom: 63.6172px;
}

.sc-journey .img-wrapper img.img05 {
    width: 200px;
    height: 186px;
    left: 0;
    bottom: 217.586px;
}





@keyframes slideInOut {
    0% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(2rem)
    }

    50.001% {
        transform: translateX(-2rem)
    }

    75% {
        transform: translateX(0)
    }
}

@keyframes slideUpDown {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-2rem)
    }

    50.001% {
        transform: translateY(2rem)
    }

    75% {
        transform: translateY(0)
    }
}

@keyframes slideDownUp {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(2rem)
    }

    50.001% {
        transform: translateY(-2rem)
    }

    75% {
        transform: translateY(0)
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(1turn)
    }

    50.001% {
        transform: rotate(1turn)
    }

    to {
        transform: rotate(1turn)
    }
}